{% extends 'base.html' %}

{% block title %} Chatterbox - Home {% endblock %}

{% block content %}
    {% if last_msg %}

        <div class="card m-1 mt-3">
            <div class="card-header">
                Your last message was: {{ last_msg.created }}
            </div>
            <div class="card-body">
                <h5 class="card-title"><small class="text-muted">
                    Room: </small> {{ last_msg.room.name }}</h5>
                <p class="card-text">"{{ last_msg.body }}"</p>
                <a href="{% url "room" last_msg.room.id %}" class="btn btn-primary">Take me there</a>
            </div>
        </div>

    {% endif %}
    {% include "chatterbox/list_of_rooms_block.html" %}
{% endblock %}
