{% extends 'base.html' %}

{% block title %} Chatterbox - Home {% endblock %}

{% block content %}
    {% if last_msg %}

        <div class="card m-1 mt-3">
            <div class="card-header">
                Your last message was: {{ last_msg.created }}
            </div>
            <div class="card-body">
                <h5 class="card-title"><small class="text-muted">
                    Room: </small> {{ last_msg.room.name }}</h5>
                <p class="card-text">"{{ last_msg.body }}"</p>
                <a href="{% url "room" last_msg.room.id %}" class="btn btn-primary">Take me there</a>
            </div>
        </div>

    {% endif %}



    <div class="container-fluid mt-3">
        <table class="table table-borderless caption-top">

            <thead>
            <tr>
                <th scope="col">Room name</th>
                <th scope="col">Description</th>
                <th scope="col">Host</th>

            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <td>
                        <a href="{% url "room" room.id %}" class="btn btn-primary">{{ room.name }} <span
                                class="badge text-bg-secondary">{{ room.message_count }}
                            {% if room.message_count == 1 %}
                                message {% else %} messages {% endif %}</span></a>
                        {% if room.host.id == request.user.id %}
                            <div class="btn-group" role="group">
                                <a class="btn btn-danger" href="{% url "delete_room" room.id %}">Delete</a>
                                <a class="btn btn-warning" href="{% url "edit_room" room.id %}">Edit</a>
                            </div>

                        {% endif %}</td>
                    <td>{{ room.description }}  </td>
                    {% if room.host.id == request.user.id %}
                        <td>You</td>

                    {% else %}
                        <td> {{ room.host }} {% endif %}</td>


                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    </div>
{% endblock %}