{% extends "base.html" %}

{% block title %}Room: {{ room.name }} {% endblock %}


{% block content %}
    <div class="container-fluid">
    <div class="room-descr">
        You are in room: <b>{{ room.name }}</b> <br>
        {{ room.description }}
    </div>

 <div class="container-fluid">

        <form action="" method="POST">
            {% csrf_token %}
            <input class="form-control" name="body" id="body" type="text" placeholder="Write your message here....">
            <input class="btn btn-primary mt-1 col-5" type="submit" value="Send">
        </form>

    </div>

    <div class="container-fluid">
        {% for message in messages %}

                         {% if message.user == request.user %}
                             <p class="my-message">
                         {% else %}
                             <p class="other-message">
                         {% endif %}
            <b>{{ message.user }}</b>: {{ message.body }} <br>
            <span class="msg-time"><i>{{ message.created|date:"d.m. H:i" }}</i></span>
            </p>
        {% endfor %}
    </div>




    </div>
{% endblock %}