{% extends "main.html" %}
{% block title %}Room: {{ room.name }} {% endblock %}

{% block content %}
    <div class="room-descr">
        You are in room: <b>{{ room.name }}</b> <br>
        {{ room.description }}
    </div>
    <h2>Create message</h2>
    <div class="message-form">
        <form action="" method="POST">
            <label for="body">Message: </label>
            <input name="body" id="body" type="text" placeholder="Write your message here....">
            <input type="submit" value="Send">
        </form>
    </div>

    <h2>Messages</h2>
    <div class="message-box">
    {% for message in messages %}
        <div class="other-message"><b>{{ message.user }}</b>: {{ message.body }}</div>
    {% endfor %}
    </div>
{% endblock %}