{% extends "main.html" %}
{% block title %}Chatterbox - rooms{% endblock %}

{% block content %}
    <div class="list-of-rooms">List of rooms:</div>
    <div class="rooms-list">
        <ul>

            {% for room in rooms %}
                <li>
                    <a href="{% url "room" room.id %}">{{ room.name }}</a> {{ room.description }} <b>{{ room.message_count}} messages</b>
   {% if room.host %}
        <br>host: {{ room.host }}
        {% if room.host.id == request.user.id %}  <!-- Pokud je aktuálně přihlášený uživatel "majitel" místnosti -->
            <button><a class="btn" href="{% url "delete_room" room.id %}"> &#10060; DELETE</a></button>  <button><a class="btn" href="{% url "edit_room" room.id %}">&#9998; EDIT</a></button>
        {% endif %}
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

