{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
            <div class="container-fluid">
    <h2>Log In</h2>

        <form method="post">
        <div class="mb-3 col-8">
            {% csrf_token %}
            {{ form.as_p }}
            </div>
            <button class="btn btn-primary col-4" type="submit">Log In</button> or <a href="/accounts/signup/" type="button" class="btn btn-outline-primary col-4">Sign up for free</a>

        </form>


</div>
{% endblock %}