
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'chatterbox/style.css'%}">
</head>
<body>
<header>Chatterbox</header>

{% if request.user.is_authenticated %}
<div id="search">
    <form action="/search/" method="post">
        <div>
            {% csrf_token %}
            <label for="search">Search:</label>
            <input class="text" name="search" size="32" maxlength="64" placeholder="&#128269;">
        </div>
    </form>
</div>
{% endif %}

{% include 'navbar.html' %}

<main>
{% block content %}

{% endblock %}
</main>

</body>
</html>